<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'computo')}">

<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-5 mb-5">
        <h2>Lista de productos de computo</h2><br />
        <a class="btn btn-primry" href="/computo/createComputo">Crear nuevo producto de computo</a>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>Imagen</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${computos}">
              <td>
                #
              </td>
              <td th:text="${item.nombre}"></td>
              <td th:text="${item.descripcion}"></td>
              <td th:text="${item.precio}"></td>
              <td>
                <img th:src="${item.imagen}" alt="" width="50px" height="auto">
                <!-- <img src=" ${item.imagen}" alt=""> -->
                <!-- <img
                src="https://1.bp.blogspot.com/-5nvxWTO-iiI/VTESuDsCXxI/AAAAAAAADEE/fOCv1FAhvFM/s1600/KirbyAspirando.jpg"
                width="500px" height="auto" alt=""> -->
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>

</html>