<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pedido')}">

<body>

  <!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pedido')}">

<body>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Listado de Quejas</h2><br/>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>id</th>
              <th>Precio</th>
              <th>Tiempo estimado</th>
              <th>Ubicación</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${pedido}">
              <td th:text="${item.id}"></td>
              <td th:text="${item.precioxk}"></td>
              <td th:text="${item.tiempo_estimado}"></td>
              <td th:text="${item.ubicacion}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

</body>

</html>
</body>

</html>