<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'lofin')}">



<body>
    <div class="container">
        <h1 class="text-center">Login</h1>
        
        <form th:object="${user}" th:action="@{/user/login}" method="post">
            <div class="form-group">
                <label for="username">UserName</label>
                <input class="form-control" type="text" th:field="*{username}" /> 
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" th:field="*{password}" />
            </div>
            <div class="text-center">
                <div class="col-sm-2">
                    <button th:with="text='Login'" class="btn btn-primary" type="submit" th:text="${text}" />
                </div>
            </div>
        </form>
        <p th:text="${message}" />
        <br>
        <div class="text-center">
            <small>No tienes tu cuenta aun?</small>
            <a class="btn btn-primary" href="/cliente/create">Registrarse</a>
        </div>
        <br>
    </div>
</body>

</html>

