<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/layout :: head">

</head>


<body>
    <nav th:replace="fragments/layout :: nav"></nav>
    <br>
    <div class="container">

        <div class="card bg-light" style="width: 50%">
            <div class="card-header bg-dark text-white text-center text-uppercase" th:text="${titulo}"></div>
            <div class="card-body">
                <img class="img-thumbnail rounded float-left" th:src="@{'/img/'+${producto.imagen}}"
                th:alt="${producto.imagen}" style="max-width: 25%;">
                <ul class="list-group">
                    <li class="list-group-item" th:text="'NOMBRE:' + ${producto.nombre}"></li>
                    <li class="list-group-item" th:text="'DESCRIPCIÓN:' + ${producto.descripcion}"></li>
                    <li class="list-group-item" th:text="'PRECIO:' + ${producto.precio}"></li>
                    
                </ul>
                

            </div>
        </div>
    </div>

    <footer th:replace="fragments/layout :: footer"></footer>
</body>

</html>